body{
  display: flex;
  flex-direction: column;
  text-align: center;
  background-image: url(https://i.ibb.co/wg856zH/background-image.jpg);
  background-repeat: no-repeat;
  
  background-size: cover;

}

body > .text{
  flex-direction: column;
  display: flex;
}

p {
  font-family: inter;
  font-weight: 700;
  font-size: 16px;
  padding-top: 180px;
  color: white;
 
}
p > span {
  color: #ffc700;
}

h1{
  font-family: 'Emilys Candy';
  font-weight: 400;
  font-size: 64px;
  color: #ffc700;
  margin: 0;
  padding-top: 4px ;
}

 .game {
  color: rgba(255, 255, 255, 0.7);
  display: flex;
  justify-content: center;
  gap: 4px;
}

body > .buttons{
  display: flex;
  gap: 50px;
  font-family: inter;
  font-weight: 700;
  justify-content: center;
  gap: 16px;
  padding-top:70px ;
}

body > .buttons > .read{
  border: transparent;
  background-color: transparent;
  font-family: inter;
  font-size: 20px;
  text-decoration: underline;
  color: rgb(230, 230, 230);
}

.buttons > .play{
  border: transparent;
  background-color: #ffc700;
  font-size: 20px;
  width: 120px;
  height: 30px;
  
}